<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="student1" class="test.Test">
		<property name="rollNo" value="101"></property>	
		<property name="name" value="ShivamKumar"></property>
	</bean>
   
</beans>