<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- 
	#Object will be created for each classes but the order we can't predict
	
	<bean id="a" class="beans.A"></bean>
	<bean id="b" class="beans.B"></bean>
	<bean id="c" class="beans.C"></bean> -->
	
	<bean id="a" class="beans.A" depends-on="b"></bean>
	<bean id="b" class="beans.B" depends-on="c"></bean>
	<bean id="c" class="beans.C"></bean>
</beans>