<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-init-method="init" default-destroy-method="destroy">
	<bean id="t" class="beans.Test">
	<!-- <bean id="t" class="beans.Test" init-method="connectionInit" destroy-method="connectionCleanup"> -->
		<property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/exam_platform"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<bean id="t1" class="beans.Test1">
	<!-- <bean id="t" class="beans.Test" init-method="connectionInit" destroy-method="connectionCleanup"> -->
		<property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/exam_platform"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
</beans>